<div class="notifications-index">
    <h3 class="sub-title">通知</h3>
        <% if @notifications.present? %>
            <% @notifications.each do |notification| %>
                <%= link_to chat_path(notification.chat_id) do %>
                    <div class="notifications">
                        <div class="notification">
                            <div class="notification-content">
                                <%= test_3(notification).html_safe %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} ago)" %></span>
                                <p><%= @talk.content %></p>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    <%= paginate @notifications %>
</div>