<div class="row">
    <div class="col-xs-6 user-show-left">
        <%= render 'user_info', {user: @user, friend_following: @friend_following, friend_followers: @friend_followers, shoe: @shoe,
         consumption: @consumption, chosen_area: @chosen_area, relationship: @relationship, friend: @friend, isChat: @isChat, 
         chatId: @chatId, chat: @chat, entry: @entry} %>
    </div>



<!-- tabu -->
    <div class="col-xs-6">
        <% if current_user.id == @user.id %>
                 <ul class="user-tabs" >
                    <li><%= link_to "投稿", user_path(@user.id) %></li>
                    <li><%= link_to "いいね", likes_user_path(@user.id) %></li>
                    <li><%= link_to "イベントにいいね", likes_events_user_path(@user.id) %></li>
                    <li><%= link_to "イベント投稿", events_user_path(@user.id) %></li>
                    <li><%= link_to "最近のチャット",chats_user_path(@user.id) %></li>
                </ul>
            <% else %>
                <ul class="user-tabs2" >
                    <li><%= link_to "投稿", user_path(@user.id) %></li>
                    <li><%= link_to "いいね", likes_user_path(@user.id) %></li>
                    <li><%= link_to "イベントにいいね", likes_events_user_path(@user.id) %></li>
                    <li><%= link_to "イベント投稿", events_user_path(@user.id) %></li>
                </ul>
            <% end %>
    
<!-- 一覧系 -->
<% if current_user.id == @user.id %>
    <div class="following text-left">
<!-- 申請 -->
    <% if @receive_friends.empty?%>
            <p>承認待ち！</p>
    <% else %>
        <h4>承認待ち！</h4>
        <% @receive_friends.each do |receive_friend| %>
            <% receive = User.find(receive_friend) %>
               <div>
                   <div class="f-1">
                       <div class="following-user">
                           <div class="f-2">
                               <div class="f-icon">
                                   <% if receive.image? %>
                                       <div class="f-image">
                                         <%= image_tag receive.image.to_s, class: "following-image" %>
                                       </div>
                                  <% else %>
                                      <div class="f-image">
                                      <%= image_tag "default.png", class: "following-image" %>
                                      </div>
                                  <% end %>
                               </div>
                               <div class="f-detail">
                                   <div class="f-3">
                                       <div class="more-detail">
                                           <strong><%= link_to receive.name, user_path(receive.id) %></strong>
                                           <br>
                                           <p>ジャンル:<%= receive.genre %></p>
                                       </div>
                                       <div class="f-btn">
                                           <div class="f-btn2">
                                               <%= form_for @friend do |f| %>
                                                   <%= f.hidden_field :followed, :value => receive.id %>
                                                   <%= f.submit "承認待ち！", class: "btn btn-success" %>
                                               <% end %>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="f-content">
                                      <%= receive.self_introduction %>
                                  </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
          <% end %> 
    <% end %>
    
    <hr>
<!-- 友達 -->
    <% if @friends.empty? %>
        <p>友達をフォローしよう！</p>
    <% else %>
        <h4>友達</h4>
    <% @friends.each do |friend| %>
        <% f= User.find(friend) %>
            <div>
                <div class="f-1">
                   <div class="following-user">
                       <div class="f-2">
                           <div class="f-icon">
                               <% if f.image? %>
                                   <div class="f-image">
                                       <%= image_tag f.image.to_s, class: "following-image" %>
                                   </div>
                               <% else %>
                                  <div class="f-image">
                                      <%= image_tag "default.png", class: "following-image" %>
                                  </div>
                               <% end %> 
                           </div>
                           <div class="f-detail">
                               <div class="f-3">
                                   <div class="more-detail">
                                       <strong><%= link_to f.name, user_path(f.id) %></strong>
                                       <br>
                                       <p>ジャンル:<%= f.genre %></p>
                                   </div>
                                   <div class="f-btn">
                                       <div class="f-btn2">
                                           <%= link_to "友達", user_path(f.id), class: "btn btn-info" %>
                                       </div>
                                   </div>
                               </div>
                               <div class="f-content">
                                  <%= f.self_introduction %>
                              </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
      <% end %> 
<% end %>
    
<% else %>
<!--@userのフォローしているユーザーを表示ボタンはcurrent_userにとって -->
    <% @my_friend_followers.each do |my_friend_follower| %>
        <% mff2 = User.find(my_friend_follower) %>
            <div>
                <div class="f-1">
                   <div class="following-user">
                       <div class="f-2">
                           <div class="f-icon">
                               <% if mff2.image? %>
                                   <div class="f-image">
                                     <%= image_tag mff2.image.to_s, class: "following-image" %>
                                   </div>
                               <% else %>
                                   <div class="f-image">
                                       <%= image_tag "default.png", class: "following-image" %>
                                   </div>
                               <% end %>
                           </div>
                           <div class="f-detail">
                               <div class="f-3">
                                   <div class="more-detail">
                                       <strong><%= link_to mff2.name, user_path(mff2.id) %></strong>
                                       <br>
                                       <p>ジャンル:<%= mff2.genre %></p>
                                   </div>
                                   <div class="f-btn">
                                       <div class="f-btn2">
                                           <% if current_user.id != mff2.id %>
                                               <% if Friend.find_by(follower: current_user.id, followed: mff2.id) &&
                                                  Friend.find_by(follower: mff2.id, followed: current_user.id) %>
                                                    <%= form_for @chat do |f| %>
                                                        <%= fields_for @entry do |e| %>
                                                        <%= e.hidden_field :user_id, :value => mff2.id %>
                                                        <% end %>
                                                    <%= f.submit "チャットする", class: "btn btn-warning" %>
                                                    <% end %>
                                              <% elsif Friend.find_by(follower: current_user.id, followed: mff2.id) &&
                                                     !Friend.find_by(follower: mff2.id, followed: current_user.id) %>
                                                    <%= link_to "友達申請中", friend_path(mff2.id), method: :delete, class: "btn btn-success",
                                                        data: {confirm: "本当に投稿を削除しますか？"} %>
                        
                                              <% elsif !Friend.find_by(follower: current_user.id, followed: mff2.id) &&
                                                         Friend.find_by(follower: mff2.id, followed: current_user.id) %>
                                                    <%= form_for @friend do |f| %>
                                                        <%= f.hidden_field :followed, :value => mff2.id %>
                                                        <%= f.submit "承認待ち！", class: "btn btn-success" %>
                                                    <% end %>   
                                              <% else %>
                                                    <%= form_for @friend do |f| %>
                                                        <%= f.hidden_field :followed, :value => mff2.id %>
                                                        <%= f.submit "友達になる。", class: "btn btn-primary" %>
                                                    <% end %>
                                              <% end %> 
                                          <% end %>
                                      </div>
                                   </div>
                               </div>
                               <div class="f-content">
                                  <%= mff2.self_introduction %>
                              </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
    <% end %>
    </div>
    <!-- current_user.id == @user.id -->
<% end %>
    </div>
</div>