<div class="row">
        <div class="col-xs-6">
            
    <div class="users-show">
        <%= image_tag @user.image.to_s, class: "users-image" %>
    </div>
    <h2><%= @user.name %></h2>
    <!--フォローの数とフォロワー -->
    <div class="text-left">
    <%= link_to "Following", following_user_path(@user)%>
    <%= @friend_following %>
    <%= link_to "Followers", followers_user_path(@user)%>
    <%= @friend_followers %>
    </div>
    <p><%= @user.email %></p>
    <p><%= @user.gender %> : 誕生日<%= @user.birthday %></p>
    <p>主な服のサイズ: <%= @user.my_size %></p>
    <p>主な服のサイズ: <%= @user.my_shoes_size %></p>
    <p>身長: <%= @user.my_height %></p>
    <p>好きな洋服ジャンル: <%= @user.genre %></p>
    <p>よく買い物に行く都道府県エリア: </p>
    <p>よく買い物に行くエリア: </p>
    <p>月に洋服にかける金額: <%= @user.my_price %></p>
    <% if @area.present? %>
     <p>よく買い物に行くエリア:<%= @area.name %><p>
    <% else %>
     <p>未記入</p>
    <% end %>
<!-- ボタンの表示条件式 -->
<div class="user-show-btn" >
 <% if @user.id == current_user.id %>
        <%= link_to "編集する", edit_user_registration_path(@user.id), class: "btn btn-warning" %>
        <%= link_to "削除する", edit_user_registration_path(@user.id), class: "btn btn-danger" %>
<!-- 友達かどうか -->
 <% elsif Friend.find_by(follower: current_user.id, followed: @user.id) &&
             Friend.find_by(follower: @user.id, followed: current_user.id) %>
        <%= form_for @chat do |f| %>
            <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, :value => @user.id %>
            <% end %>
        <%= f.submit "チャットする", class: "btn btn-warning" %>
        <% end %>
 <% elsif Friend.find_by(follower: current_user.id, followed: @user.id) &&
             !Friend.find_by(follower: @user.id, followed: current_user.id) %>
                 
            <%= @relationship %><%= link_to "友達申請中", friend_path(@user.id), method: :delete, class: "btn btn-success",
            date: {confirm: "本当に投稿を削除しますか？"} %>
            
 <% elsif !Friend.find_by(follower: current_user.id, followed: @user.id) &&
             Friend.find_by(follower: @user.id, followed: current_user.id) %>
        <%= form_for @friend do |f| %>
        <%= f.hidden_field :followed, :value => @user.id %>
        <%= @relationship %><%= f.submit "承認待ち！", class: "btn btn-warning" %>
        <% end %>   
 <% else %>
        <%= form_for @friend do |f| %>
        <%= f.hidden_field :followed, :value => @user.id %>
        <%= @relationship %><%= f.submit "友達になる。", class: "btn btn-primary" %>
        <% end %>
 <% end %>
</div>
 <br>
<div class="content-box">
    <%= @user.self_introduction %>
</div>
</div>



<!-- tabu -->
<div class="col-xs-6">
 <ul class="user-tabs" >
    <li><%= link_to "投稿", user_path(@user.id) %></li>
    <li><%= link_to "いいね", likes_user_path(@user.id) %></li>
    <li><%= link_to "イベントにいいね", likes_events_user_path(@user.id) %></li>
    <li><%= link_to "イベント投稿", events_user_path(@user.id) %></li>
<% if current_user.id == @user.id %>
    <li><%= link_to "最近のチャット",chats_user_path(@user.id) %></li>
<% elsif Friend.find_by(follower: current_user.id, followed: @user.id) &&
             Friend.find_by(follower: @user.id, followed: current_user.id) %>
        <%= form_for @chat do |f| %>
        <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value => @user.id %>
        <% end %>
        <li><%= f.submit "チャットする", class: "btn btn-info" %></li>
        <% end %>
<% elsif Friend.find_by(follower: current_user.id, followed: @user.id) &&
             !Friend.find_by(follower: @user.id, followed: current_user.id) %>
             
            <li><%= link_to "友達申請中", following_user_path(current_user.id) %></li>
            
<% elsif !Friend.find_by(follower: current_user.id, followed: @user.id) &&
             Friend.find_by(follower: @user.id, followed: current_user.id) %>
        
            <li><%= link_to "承認待ち", followers_user_path(current_user.id) %></li>

<% else %>
        <%= form_for @friend do |f| %>
        <%= f.hidden_field :followed, :value => @user.id %>
        <li><%= f.submit "友達になる。", class: "btn btn-primary" %></li>
        <% end %>
<% end %>
</ul>




<!-- 一覧系 -->
<% if current_user.id == @user.id %>
<div class="following text-left">
<!-- 申請 -->
<% if @receive_friends.empty?%>
        <p>友達申請中なし</p>
<% else %>
    <% @receive_friends.each do |receive_friend| %>
        <% receive = User.find(receive_friend) %>
           <h4>友達申請中</h4>
           <div>
               <div class="following-user">
                   <div class="f-2">
                       <div class="f-3">
                           <div class="f-image">
                             <%= image_tag receive.image.to_s, class: "following-image" %>
                          </div>
                       </div>
                       <div class="f-detail">
                           <div class="f-1">
                               <div class="more-detail">
                                   <strong><%= link_to receive.name, user_path(receive.id) %></strong>
                                   <br>
                                   <p>ジャンル:<%= receive.genre %></p>
                               </div>
                               <div class="f-btn">
                                   <%= form_for @friend do |f| %>
                                       <%= f.hidden_field :followed, :value => receive.id %>
                                       <%= f.submit "承認待ち！", class: "btn btn-warning" %>
                                   <% end %>
                               </div>
                           </div>
                           <div class="f-content">
                              <%= receive.self_introduction %>
                          </div>
                       </div>
                   </div>
               </div>
           </div>
      <% end %> 
<% end %>

<hr>
<!-- 友達 -->
<% if @friends.empty? %>
    <p>友達をフォローしよう！</p>
<% else %>
<% @friends.each do |friend| %>
    <% f= User.find(friend) %>
        <h4>友達</h4>
            <div>
               <div class="following-user">
                   <div class="f-2">
                       <div class="f-3">
                           <div class="f-image">
                             <%= image_tag f.image.to_s, class: "following-image" %>
                          </div>
                       </div>
                       <div class="f-detail">
                           <div class="f-1">
                               <div class="more-detail">
                                   <strong><%= link_to f.name, user_path(f.id) %></strong>
                                   <br>
                                   <p>ジャンル:<%= f.genre %></p>
                               </div>
                               <div class="f-btn">
                                   <%= link_to "友達", friend_path(f.id), method: :delete, class: "btn btn-info f-btn",
                                   date: {confirm: "本当に友達を解除しますか？"} %>
                               </div>
                           </div>
                           <div class="f-content">
                              <%= f.self_introduction %>
                          </div>
                       </div>
                   </div>
               </div>
           </div>
      <% end %> 
<% end %>

<% else %>
<!--@userのフォローしているユーザーを表示ボタンはcurrent_userにとって -->
<% @my_friend_followers.each do |my_friend_follower| %>
    <% mff2 = User.find(my_friend_follower) %>
        <div>
           <div class="following-user">
               <div class="f-2">
                   <div class="f-3">
                       <div class="f-image">
                         <%= image_tag mff2.image.to_s, class: "following-image" %>
                      </div>
                   </div>
                   <div class="f-detail">
                       <div class="f-1">
                           <div class="more-detail">
                               <strong><%= link_to mff2.name, user_path(mff2.id) %></strong>
                               <br>
                               <p>ジャンル:<%= mff2.genre %></p>
                           </div>
                           <div class="f-btn">
                               <% if current_user.id != mff2.id %>
                                   <% if Friend.find_by(follower: current_user.id, followed: mff2.id) &&
                                      Friend.find_by(follower: mff2.id, followed: current_user.id) %>
                                        <%= form_for @chat do |f| %>
                                            <%= fields_for @entry do |e| %>
                                            <%= e.hidden_field :user_id, :value => mff2.id %>
                                            <% end %>
                                        <%= f.submit "チャットする", class: "btn btn-info" %>
                                        <% end %>
                                  <% elsif Friend.find_by(follower: current_user.id, followed: mff2.id) &&
                                         !Friend.find_by(follower: mff2.id, followed: current_user.id) %>
                                        <%= link_to "友達申請中", friend_path(mff2.id), method: :delete, class: "btn btn-success f-btn",
                                            date: {confirm: "本当に投稿を削除しますか？"} %>
            
                                  <% elsif !Friend.find_by(follower: current_user.id, followed: mff2.id) &&
                                             Friend.find_by(follower: mff2.id, followed: current_user.id) %>
                                        <%= form_for @friend do |f| %>
                                            <%= f.hidden_field :followed, :value => mff2.id %>
                                            <%= f.submit "承認待ち！", class: "btn btn-warning" %>
                                        <% end %>   
                                  <% else %>
                                        <%= form_for @friend do |f| %>
                                            <%= f.hidden_field :followed, :value => mff2.id %>
                                            <%= f.submit "友達になる。", class: "btn btn-primary" %>
                                        <% end %>
                                  <% end %> 
                              <% end %>
                           </div>
                       </div>
                       <div class="f-content">
                          <%= mff2.self_introduction %>
                      </div>
                   </div>
               </div>
           </div>
       </div>
<% end %>
</div>
<!-- current_user.id == @user.id -->
<% end %>
</div>
</div>