<div class="row">
    <div class="col-xs-12 col-md-6">
        <%= render 'user_info', {user: @user, friend_following: @friend_following, friend_followers: @friend_followers, shoe: @shoe,
         consumption: @consumption, chosen_area: @chosen_area, relationship: @relationship, friend: @friend, isChat: @isChat, 
         chatId: @chatId, chat: @chat, entry: @entry} %>
    </div>


<!-- tabu -->
    <div class="col-xs-12 col-md-6">
        <% if current_user.id == @user.id %>
             <ul class="user-tabs" >
                <li class="active"><%= link_to "投稿", user_path(@user.id) %></li>
                <li><%= link_to "いいね", likes_user_path(@user.id) %></li>
                <li><%= link_to "イベントにいいね", likes_events_user_path(@user.id) %></li>
                <li><%= link_to "イベント投稿", events_user_path(@user.id) %></li>
                <li><%= link_to "最近のチャット",chats_user_path(@user.id) %></li>
            </ul>
        <% else %>
            <ul class="user-tabs2" >
                <li class="active"><%= link_to "投稿", user_path(@user.id) %></li>
                <li><%= link_to "いいね", likes_user_path(@user.id) %></li>
                <li><%= link_to "イベントにいいね", likes_events_user_path(@user.id) %></li>
                <li><%= link_to "イベント投稿", events_user_path(@user.id) %></li>
            </ul>
        <% end %>
        
<!-- 一覧系 -->
        <% @user.posts.each do |post| %>
            <div class="posts-index">
                <div class= "posts-index-item">
                    <div class="posts-left">
                       <% if post.user.image? %>
                           <%= image_tag post.user.image.to_s, class: "users-image" %>
                       <% else %>
                           <%= image_tag "default.png", class: "users-image" %>
                       <% end %>
                    </div>
                    <div class="posts-right">
                        名前:<%= link_to post.user.name, user_path(post.user_id) %>
                    </div> 
                    <div class="posts-middle">
                        投稿内容:<%= link_to post.content, post_path(post.id), class: "posts-content" %>
                    </div>
                        <% if post.image? %>
                            <div class="posts-bottom" >
                                <%= image_tag post.image.to_s, class: "posts-image" %>
                            </div>
                        <% else %>
                            <div></div>
                        <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>