<div class='post-show'>
    <% if @event.image? %>
        <div class="post-show-item" >
                <h1 class="item-name text-center"><%=@event.title %></h1>
                    <div class="post-image">
                        <div class="post-show-image text-center" >
                             <%= image_tag @event.image.to_s%>
                        </div>
                        <hr>
                      　<div class="post-show-item1 text-left">
                      　    <%if @event.user.image?%>
                               <div class="posts-left">
                                   <%= image_tag @event.user.image.to_s, class: "users-image" %>
                               </div>
                           <% else %>
                               <div class="posts-left">
                                   <%= image_tag "default.png", class: "users-image" %>
                               </div>
                           <% end %>
                               <div class="posts-right">
                                   <p>名前:<%= link_to @event.user.name, user_path(@event.user_id) %></p>
                                   <p>開催場所:<%= @event.location %></p>
                               </div> 
                               <div class= "post-show-content text-left">
                                   <h3>投稿内容</h3>
                                   <%= @event.content %>
                               </div>
                        </div>
        <!--いいねをする処理-->    
                            <% if Like.find_by(user_id: current_user.id, event_id: @event.id) %>
                                    <%= link_to("/likes/#{@event.id}/destroy_event", {method: "post"}) do %>
                                    <span class="fa fa-heart like-btn-unlike fa-2x"></span>
                                    <% end %>
                            <% else %>
                                    <%= link_to("/likes/#{@event.id}/create_event", {method: "post"}) do %>
                                    <span class="fa fa-heart like-btn fa-2x"></span>
                                     <% end %>
                            <% end %>
                                <%= @like_count %>
                        <div class="post-time">
                            <%=@event.created_at %>
                        </div>
                    </div>
        </div>
            
    <% else %>
    <!-- no image -->    
        <div class= "post-show-no-image text-left">
            <h1 class="item-name text-center"><%=@event.title %></h1>
                <div class="post-show-no-image2">
                    <% if @event.user.image.present? %>
                        <div class="posts-left">
                           <%= image_tag @event.user.image.to_s, class: "users-image" %>
                       </div>
                    <% else %>
                        <div class="posts-left">
                            <%= image_tag "default.png", class: "users-image" %>
                        </div>
                    <% end %>
                    <div class="posts-right">
                        <p>名前:<%= link_to @event.user.name, user_path(@event.user_id) %></p>
                        <p>開催場所:<%= @event.location %></p>
                   </div> 
                   <div class="posts-middle">
                       投稿内容:<%= @event.content %>
                   </div>
                    <!--いいねをする処理-->          
                    <%if Like.find_by(user_id: current_user.id, event_id: @event.id) %>
                            <%= link_to("/likes/#{@event.id}/destroy_event", {method: "post"}) do %>
                           <span class="fas fa-heart like-btn-unlike fa-2x"></span>
                             <!--<i class="fas fa-heart like-btn-unlike fa-2x"></i>-->
                            <% end %>
                    <% else %>
                            <%= link_to("/likes/#{@event.id}/create_event", {method: "post"}) do %>
                            <span class="fas fa-heart like-btn fa-2x"></span>
                            <!--<i class="fas fa-heart like-btn fa-2x"></i>-->
                             <% end %>
                    <% end %>
                    <%= @like_count %>
                    <div class="post-time">
                        <%=@event.created_at %>
                    </div>
                </div>
        </div>
    <% end %>
     <!--- コメント -->
    <div class='chat text-center'>
            <div class='chat2'>
                <h3 class="chat-h">コメント欄</h3>
                <hr>
                    <% if @messages.present? %>
                        <% @messages.each do |message| %>
                             <% if message.user_id == @event.user_id %>
                                <h4 class="text-right">
                                    <p class="alert alert-success">
                                         <% if message.user_id == current_user.id %>
                                             <%= link_to message.content, message_path(message.id), method: :delete,
                                                data: {confirm: "本当に投稿を削除しますか？"} %>
                                        <% else %>
                                            <%= message.content %>
                                        <% end %>
                                        <br><br>
                                            <% if message.user.image? %>
                                                <%= image_tag message.user.image.to_s, size: "50x50" %>
                                            <% else %>
                                                <%= image_tag "default.png", size: "50x50" %>
                                            <% end %>
                                        <small><strong> <%= link_to message.user.name, user_path(message.user_id) %></strong></small>
                                    </p>
                                 </h4>
                              <% else %>
                                 <h4 class="text-left">
                                     <p class="alert alert-info">
                                         <% if message.user_id == current_user.id %>
                                             <%= link_to message.content, message_path(message.id), method: :delete,
                                             data: {confirm: "本当に投稿を削除しますか？"} %>
                                        <% else %>
                                            <%= message.content %>
                                        <% end %>
                                        <br><br>
                                            <% if message.user.image? %>
                                                <%= image_tag message.user.image.to_s, size: "50x50" %>
                                            <% else %>
                                                <%= image_tag "default.png", size: "50x50" %>
                                            <% end %>
                                        <small><strong> <%= link_to message.user.name, user_path(message.user.id) %></strong></small>
                                    </p>
                                </h4>
                              <% end %>
                        <% end %>
                    <% else %>
                        <br>
                        <h4>メッセージはありません</h4>
                        <br>
                    <% end %>
                    
                <%= form_for @message do |f| %>
                    <p><%= f.text_area :content, class: 'form-control', placeholder: 'メッセージを入力してください' %></p>
                        <%= f.hidden_field :event_id, :value => @event.id %>
                    <p><%= f.submit "送信", class: 'btn btn-info' %></p>
                <% end %> 
            </div>
        </div>
    <div class='user-show-btn text-center'>
            <div class='user-show-btn2'>
                <% if @event.user_id == current_user.id %>
                    <p><%= link_to '編集する', edit_event_path(@event.id), class:'btn btn-info' %></p>
                    <p><%= link_to '削除', event_path(@event.id), method: :delete, data: 
                                        {confirm: "本当に投稿を削除しますか？",
                                        cancel: 'やめる',
                                        commit: '削除する'}, title: '削除確認', class:'btn btn-warning' %></p>
                <% end %>
            </div>
        </div>
</div>