<div class= "row">
  <div class="col-xs-4">
        <h3>最近のチャット</h3>
        <hr>
    <% if @notifications.present? %>
        <% @notifications.each do |notification| %>
            <% if @chat.id == notification.chat_id %>
                <% notification.update_attributes(check: true) %>
            <% end %>
        <% end %>
    <% end %>
        
<!-- chat一覧 -->
    <% @talks.each do |talk| %>
        <% @entries2.each do |entry| %>
            <% if talk.entry_id == entry.id %>
                <% if entry.user_id != current_user.id %>
                    <% another = User.find(entry.user_id) %>
                        <div>
                           <div class="f-1">
                               <%= link_to chat_path(entry.chat_id) do %>
                                   <div class="following-user">
                                       <div class="f-2">
                                           <div class="f-icon">
                                               <% if another.image? %>
                                                   <div class="f-image">
                                                     <%= image_tag another.image.to_s, class: "following-image" %>
                                                   </div>
                                              <% else %>
                                                  <div class="f-image">
                                                      <%= image_tag "default.png", class: "following-image" %>
                                                  </div>
                                              <% end %>
                                           </div>
                                           <div class="f-detail">
                                               <div class="f-3">
                                                   <div class="more-detail">
                                                       <strong><%= another.name %></strong>
                                                       <br>
                                                   </div>
                                                   <div class="f-btn">
                                                       <div class="f-btn2">
                                                       </div>
                                                   </div>
                                               </div>
                                               <div class="f-content">
                                                   <!--message -->
                                                   <%= talk.content %>
                                              </div>
                                           </div>
                                       </div>
                                   </div>
                               <% end %>
                           </div>
                       </div>
                <% end %>
            <% end %>
       <% end %>
    <% end %>
</div>
     
    <div class="col-xs-8">
        <% @anotherEntries.each do |an|  %>
            <% if an.chat_id == @chat.id %>
                <h2 class="text-center"><%= link_to an.user.name, user_path(an.user_id) %>
                    <%= link_to chat_path(an.chat_id), method: :delete, date: {confirm: "本当に投稿を削除しますか？"} do %>
                        <span class="fas fa-trash fa-lg"></span>
                   <% end %>
                </h2>
            <% end %>
        <% end %>
<hr>
        <% if @talks_message.present? %>
            <% @talks_message.each do |talk| %>
                <% if current_user.id == talk.user_id %>
                    <h4 class="text-right">
                        <p class="alert alert-success">
                            <% if talk.user_id == current_user.id %>
                                <%= link_to talk.content, talk_path(talk.id), method: :delete, 
                                data: {confirm: "本当に投稿を削除しますか？"}%>
                            <% else %>
                                <%= talk.content %>
                            <% end %>
                            <br><br>
                                <% if talk.user.image? %>
                                    <%= image_tag talk.user.image.to_s, size: "50x50" %>
                                <% else %>
                                    <%= image_tag "default.png", size: "50x50" %>
                                <% end %>
                            <small><strong> <%= link_to talk.user.name, user_path(talk.user_id) %></strong></small>
                        </p>
                    </h4>
                <% else %>
                     <h4 class="text-left">
                        <p class="alert alert-info">
                            <% if talk.user_id == current_user.id %>
                                <%= link_to talk.content, talk_path(talk.id), method: :delete,
                                   data: {confirm: "本当に投稿を削除しますか？"}%>
                            <% else %>
                                <%= talk.content %>
                            <% end %>
                            <br><br>
                                <% if talk.user.image? %>
                                    <%= image_tag talk.user.image.to_s, size: "50x50" %>
                                <% else %>
                                    <%= image_tag "default.png", size: "50x50" %>
                                <% end %>
                            <small><strong> <%= link_to talk.user.name, user_path(talk.user.id) %></strong></small>
                        </p>
                    </h4>
                <% end %>
            <% end %>
        <% else %>
            <br>
            <h4>メッセージはありません</h4>
            <br>
        <% end %>

        
        <%= form_for @talk do |f| %>
            <p><%= f.text_area :content, class: 'form-control', placeholder: 'メッセージを入力してください' %></p>
                <% @entries_for_talk.each do |entry| %>
                    <% if entry.user_id == current_user.id %>
                        <%= f.hidden_field :entry_id, :value => entry.id %>
                    <% end %>   
                <% end %>
            <p><%= f.submit "送信", class: 'btn btn-info' %></p>
        <% end %> 
    </div>
</div>